
//AWS SECONDARY ROUTER(jinja2 template)//


set routing-instances {{ customer_vrf }} instance-type virtual-router
  
//** set interface lo0 unit 2222 description lg_{{ pop_name }}_cust_ip #It must be already there in the router
set interface lo0 unit 2222 family inet address 10.96.{{ third_octet }}.{{ gre_src }}/32
 
  
//** Tunnel to ATAN
set interfaces gr-1/0/0 unit 2{{ fourth_octet }} description tunga_{{ third_octet }}-{{ fourth_octet }}_{{ pop_name }}_{{ cust_name }}
set interfaces gr-1/0/0 unit 2{{ fourth_octet }} tunnel source 10.96.{{ third_octet }}.{{ gre_src }}
set interfaces gr-1/0/0 unit 2{{ fourth_octet }} tunnel destination {{ atan_ip }}
set interfaces gr-1/0/0 unit 2{{ fourth_octet }} tunnel routing-instance destination edge
set interfaces gr-1/0/0 unit 2{{ fourth_octet }} family inet address 169.254.181.6/32
set routing-instances {{ customer_vrf }} interface gr-1/0/0.2{{ fourth_octet }}
 
set protocols oam gre-tunnel interface gr-1/0/0.2{{ fourth_octet }} keepalive-time 5
set protocols oam gre-tunnel interface gr-1/0/0.2{{ fourth_octet }} hold-time 125
 
//** BGP to ATAN
set routing-instances {{ customer_vrf }} routing-options autonomous-system 11179
set routing-instances {{ customer_vrf }} protocols bgp group ebgp type external
set routing-instances {{ customer_vrf }} protocols bgp group ebgp neighbor 169.254.181.5 multihop ttl 2
set routing-instances {{ customer_vrf }} protocols bgp group ebgp neighbor 169.254.181.5 description {{ cust_name }}-bgp-atan
set routing-instances {{ customer_vrf }} protocols bgp group ebgp neighbor 169.254.181.5 export ps-atan-out
set routing-instances {{ customer_vrf }} protocols bgp group ebgp neighbor 169.254.181.5 local-address 169.254.181.6
set routing-instances {{ customer_vrf }} protocols bgp group ebgp neighbor 169.254.181.5 peer-as 56278
 
//** set policy-options policy-statement ps-atan-out term 10 then metric 10 # It must be already there in the router
  
set routing-instance {{ customer_vrf }} routing-options static route 169.254.181.5/32 next-hop gr-1/0/0.2{{ fourth_octet }}
edit routing-instance {{ customer_vrf }} routing-options static  
annotate route 169.254.181.5/32 "atan_bgp_peer_ip"



//** Router subinterface configuration

set interfaces {{ inter_name }} unit {{ vlan_id }} description vlan-{{ vlan_id }}_{{ third_octet }}-{{ fourth_octet }}_{{ cust_name }}
set interfaces {{ inter_name }} unit {{ vlan_id }} vlan-id {{ vlan_id }}
set interfaces {{ inter_name }} unit {{ vlan_id }} family inet address {{ local_agg }}/30
set routing-instances {{ customer_vrf }} interface {{ inter_name }}.{{ vlan_id }}
  
//** BGP to CLOUD
set routing-instances {{ customer_vrf }} protocols bgp group ebgp type external
set routing-instances {{ customer_vrf }} protocols bgp group ebgp neighbor {{ remote_agg }} description {{ customer_vrf }}_pri
set routing-instances {{ customer_vrf }} protocols bgp group ebgp neighbor {{ remote_agg }} local-address {{ local_agg }}
set routing-instances {{ customer_vrf }} protocols bgp group ebgp neighbor {{ remote_agg }} peer-as 7224
set routing-instances {{ customer_vrf }} protocols bgp group ebgp neighbor {{ remote_agg }} authentication-key {{ aws_pass }}
set routing-instances {{ customer_vrf }} protocols bgp group ebgp neighbor {{ remote_agg }} export ps-ecx-out
  